/*
* scss 기본 문법
* https://seokzin.tistory.com/entry/SCSS-SCSS-%EB%AC%B8%EB%B2%95-%EC%A0%95%EB%A6%AC
*/
@import './common.scss';

.RoomList {
  max-height: 820px;
  overflow-y: auto;

  table {
    @include default-table;
  }
  ~ .more-btn {
    width: 100%;
  }
}

.RoomInfo {
  max-height: 810px;
  overflow-y: auto;

  .justify-content-around > .btn {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  table {
    @include default-table;
  }
}
.UserAvatar,
.UserMoney,
.UserItem,
.UserItemUnique,
.UserMail,
.UserCollection,
.UserAchievement,
.UserWorld {
  max-height: 790px;
  overflow-y: auto;

  table {
    @include default-table;
  }
}
